In [1]:
#Dictionary
from tabulate import tabulate

headers = ["stdID", "stdName", "Standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"]

students = [
    
    {"stdID": "std101", "stdname": "Ashish Kumar", "standard": "10th", "age": 15, "hindi": 67, "English": 89, "Maths": 87, "Science": 89, "Computer": 90, "Total": 422},
    {"stdID": "std102", "stdname": "Abhishek Kumar", "standard": "10th", "age": 14, "hindi": 85, "English": 45, "Maths": 48, "Science": 90, "Computer": 45, "Total": 313},
    {"stdID": "std103", "stdname": "Aman", "standard": "10th", "age": 15, "hindi": 23, "English": 56, "Maths": 78, "Science": 78, "Computer": 67, "Total": 302},
    {"stdID": "std104", "stdname": "Rahul", "standard": "10th", "age": 14, "hindi": 45, "English": 67, "Maths": 45, "Science": 45, "Computer": 56, "Total": 258},
    {"stdID": "std105", "stdname": "Ruby", "standard": "10th", "age": 13, "hindi": 89, "English": 67, "Maths": 89, "Science": 93, "Computer": 65, "Total": 403},
    {"stdID": "std106", "stdname": "Suman", "standard": "10th", "age": 13, "hindi": 90, "English": 46, "Maths": 67, "Science": 67, "Computer": 67, "Total": 337},
    {"stdID": "std107", "stdname": "Saurabh", "standard": "10th", "age": 15, "hindi": 45, "English": 23, "Maths": 34, "Science": 45, "Computer": 34, "Total": 181},
     {"stdID": "std108", "stdname": "Sumit", "standard": "10th", "age": 14, "hindi": 23, "English": 45, "Maths": 67, "Science": 78, "Computer": 90, "Total": 303},
    {"stdID": "std109", "stdname": "Kamlesh", "standard": "10th", "age": 15, "hindi": 45, "English": 56, "Maths": 78, "Science": 99, "Computer": 67, "Total": 345},
    {"stdID": "std110", "stdname": "Rohan", "standard": "10th", "age": 15, "hindi": 34, "English": 12, "Maths": 24, "Science": 45, "Computer": 56, "Total": 171}
]


# Printing the table
print(tabulate(students, headers="keys"))

stdID    stdname         standard      age    hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
std101   Ashish Kumar    10th           15       67         89       87         89          90      422
std102   Abhishek Kumar  10th           14       85         45       48         90          45      313
std103   Aman            10th           15       23         56       78         78          67      302
std104   Rahul           10th           14       45         67       45         45          56      258
std105   Ruby            10th           13       89         67       89         93          65      403
std106   Suman           10th           13       90         46       67         67          67      337
std107   Saurabh         10th           15       45         23       34         45          34      181
std108   Sumit           10th           14       23         45       67         78          90      303
std109   Kamlesh         10th           15       45         56       78         99          67      345
std110   Rohan           10th           15       34         12       24         45          56      171

In [2]:
#Display the name of student whose marks in English is grater than 50
# Printing the table
print(tabulate(students, headers="keys"))


students_english_above_50 = [student["stdname"] for student in students if student["English"] > 50]

print("\nStudents with English marks greater than 50:")
for name in students_english_above_50:
   print(name)

stdID    stdname         standard      age    hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
std101   Ashish Kumar    10th           15       67         89       87         89          90      422
std102   Abhishek Kumar  10th           14       85         45       48         90          45      313
std103   Aman            10th           15       23         56       78         78          67      302
std104   Rahul           10th           14       45         67       45         45          56      258
std105   Ruby            10th           13       89         67       89         93          65      403
std106   Suman           10th           13       90         46       67         67          67      337
std107   Saurabh         10th           15       45         23       34         45          34      181
std108   Sumit           10th           14       23         45       67         78          90      303
std109   Kamlesh         10th           15       45         56       78         99          67      345
std110   Rohan           10th           15       34         12       24         45          56      171

Students with English marks greater than 50:
Ashish Kumar
Aman
Rahul
Ruby
Kamlesh

In [3]:
#Display Student name and age of top four scorer of maths
# Printing the table
print(tabulate(students, headers="keys"))

top_four_math_students = sorted(students, key=lambda x: x["Maths"], reverse=True)[:4]

print("\nStudents with the top four marks in Math:")
for student in top_four_math_students:
    print(f"Name: {student['stdname']}, Age: {student['age']}")

stdID    stdname         standard      age    hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
std101   Ashish Kumar    10th           15       67         89       87         89          90      422
std102   Abhishek Kumar  10th           14       85         45       48         90          45      313
std103   Aman            10th           15       23         56       78         78          67      302
std104   Rahul           10th           14       45         67       45         45          56      258
std105   Ruby            10th           13       89         67       89         93          65      403
std106   Suman           10th           13       90         46       67         67          67      337
std107   Saurabh         10th           15       45         23       34         45          34      181
std108   Sumit           10th           14       23         45       67         78          90      303
std109   Kamlesh         10th           15       45         56       78         99          67      345
std110   Rohan           10th           15       34         12       24         45          56      171

Students with the top four marks in Math:
Name: Ruby, Age: 13
Name: Ashish Kumar, Age: 15
Name: Aman, Age: 15
Name: Kamlesh, Age: 15

In [4]:
#Display name , id ,age of student who are bottom 3 scorer  in computer

# Printing the table
print(tabulate(students, headers="keys"))

# Filter students who have Computer scores and find bottom three scorers in Computer
students_with_computer_marks = [student for student in students if student["Computer"] is not None]
bottom_three_computer_students = sorted(students_with_computer_marks, key=lambda x: x["Computer"])[:3]

print("\nStudents with the bottom three scores in Computer:")
for student in bottom_three_computer_students:
    print(f"Name: {student['stdname']}, ID: {student['stdID']}, Age: {student['age']}")

stdID    stdname         standard      age    hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
std101   Ashish Kumar    10th           15       67         89       87         89          90      422
std102   Abhishek Kumar  10th           14       85         45       48         90          45      313
std103   Aman            10th           15       23         56       78         78          67      302
std104   Rahul           10th           14       45         67       45         45          56      258
std105   Ruby            10th           13       89         67       89         93          65      403
std106   Suman           10th           13       90         46       67         67          67      337
std107   Saurabh         10th           15       45         23       34         45          34      181
std108   Sumit           10th           14       23         45       67         78          90      303
std109   Kamlesh         10th           15       45         56       78         99          67      345
std110   Rohan           10th           15       34         12       24         45          56      171

Students with the bottom three scores in Computer:
Name: Saurabh, ID: std107, Age: 15
Name: Abhishek Kumar, ID: std102, Age: 14
Name: Rahul, ID: std104, Age: 14